/* Main */
body {
    margin: 0px;
    background-color: #a0ffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Container */
.container{
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: auto;
}

/* Notes */
.notes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notes__inputing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.notes__error {
    display: none;
    color: #b10000;
}

.notes__placeholder {
    gap: 1rem;
    font-size: 20px;
}

.userNote {
    margin: 10px auto;
    padding: 0.8rem;
    outline: 2px solid #fff;
    border-radius: 10px;
}

/* Inputs */
.input__text {
    /* STYLE */
}

.input__button {
    /* STYLE*/
}