/* Main */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    margin: 0px;
}

/* Container */
.container{
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    height: auto;
}

/* Notes */
.notes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.notes__error {
    display: none;
    color: rgba(255, 0, 0, 0.847);
}

.notes__placeholder {
    width: 1000px;
    margin-top: 15px;
}

.notes__user__input {
    margin: 10px auto;
    outline: 2px solid #000;
    border: 2px solid #fff;
    border-radius: 10px;
}

